.Posts p{
    font-size: 35px;
    font-family: Arial, serif;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.input{
    text-align: center;
}
.input textarea{
    width: 80%;
    max-width: 80%;
    height: 60px;
    background-color: #E6EEEA;
    border: none;
    font-size: 24px;
    border-radius: 3px;
}
.btn{
    background-color: black;
    color:white;
    border: none;
    height: 36px;
    width: 162px;
    margin: 10px 20px 20px 700px;
    font-size: 26px;
    border-radius: 3px;
}
.btn:hover{
    background-color: white;
    color: black;
}
