.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
    "header header"
    "nav profile";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 235px 960px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 24px;
}
.content{
    width: 1400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}








